* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body.dark-mode {
  color: #fff;
  background-color: #222;
}

.cont{
  background-color: cornflowerblue;
  padding: 10px;
  margin: 10px 0px 10px 0px;
}

.cont2{
  background-color: #222;
}


#id-asd{
  color: green ;
}

.asd{
  padding: 5px;
  margin: 10px;
  background-color: white;
  color: orange;
  border-radius: 20%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
}

.asd:hover{
  background-color: rebeccapurple;
  padding: 30px;
}

